<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
        <meta name="google-site-verification" content="VBqsadHUu47TEmFKSKA3IxakmHCEGunSPNJ-av29xfc">

        <meta name="description" content="Progton is a Technology, Consulting Services Company offering Application Development, Mobility Solutions, Digital Marketing etc. Visit us today!">

        <meta name="keywords" content="Progton, Ruby On Rails Development, Responsive Web Designs, Java Application Development, OpenSource Web Development, Big Data Analytics, Digital Marketing, Mobile Solutions, IOS app development, Android app development, Liferay, Business Solutions, Node.js, Ember.js, Javascript, Angular.js, Hadoop, services, Technology Services, Consulting">

        <title>Progton | Services, Consulting, Technology and Development</title>

        <link href="http://www.progton.com/favicon1.ico" rel="icon" type="image/x-icon">

        <!-- PRE-LOADER JAVASCRIPT START -->
        <%# javascript_include_tag "pace" %>
        <!-- PRE-LOADER JAVASCRIPT END -->
        <!-- STYLESHEETS START -->
        <!-- Bootstrap style sheet -->
        <!-- Font Awesome style sheet -->
        <!-- Ion Icons style sheet -->
        <!-- Pretty photo style sheet -->
        <!-- Sunshine specific style sheet -->

        <!-- STYLESHEETS END -->

        <!-- FONTS START -->
   
    <style type="text/css">
    #ninja-slider-next{
        display: none;
    }
    #ninja-slider-prev{
        display: none;
    }
     @media  screen and (min-width:600px) and (max-width: 1000px){
      #intro{
       top:12% !important;
      }

    }
    @media  screen and (min-width: 450px) and (max-width:600px) {
      #intro{
       top:12% !important;

      }
      #intro h1{
      font-size: 25px;
      }
      #intro h3{
        font-size: 18px;
    }
    
      #intro p{
        font-size: 10px !important;
      }
     
    }
     
     @media  screen and (max-width: 450px)  {
      #intro{
       top:9% !important;

      }
      #intro h1{
      font-size: 20px;
      }
      #intro h3{
        font-size: 15px;
    }

      #intro p{
        font-size: 8px !important;
      }
     
    }
    @media  screen and (max-width: 767px)  {
    .header_mrgn{
        padding-top: 56px;
    }
    }
    @media  screen and (min-width: 768px) and (max-width: 1300px) {
    .header_mrgn{
        padding-top: 50px;
    }
    }
    #header{
       background:rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
       height:auto;
    }

    </style>
        <!-- FONTS END -->
    </head>
    <body class="  pace-done" data-spy="scroll" data-target="#top-navigation"><div class="pace  pace-inactive"><div data-progress="99" data-progress-text="100%" style="width: 100%;" class="pace-progress">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
        <!-- PAGE START -->
        <div id="page">
            <!-- MAIN NAV START -->
            <nav id="top-navigation" class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button id="menu-mobile" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="fa fa-bars"></span>
                    </button>
                    <!-- LOGO COMES HERE -->
                    <a class="navbar-brand scroll" href="#header"><i class="fa fa-sun-o logo-circled"></i> Progton</a>
                </div>

                <!-- NAV ITEMS START -->
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#myCarousel" class="scroll">Home</a></li>
                        <li class=""><a href="#about" class="scroll">About Us</a></li>
                        <li class=""><a href="#services" class="scroll">Services</a></li>
                        <li class=""><a href="#work" class="scroll">Work</a></li>
                        <li class=""><a href="#clients" class="scroll">Clients</a></li>
                        <!--<li><a href="#team" class="scroll">Team</a></li>-->
                        <li class=""><a href="#contact" class="scroll">Contact</a></li>
                    </ul>
                </div>
                <!-- NAV ITEMS END -->
            </nav>
            <!-- MAIN NAV END -->
            <!-- HOME START -->

            
              <header id="myCarousel" class="carousel slide header_mrgn">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li class="active" data-target="#myCarousel" data-slide-to="1"></li>
            <li class="" data-target="#myCarousel" data-slide-to="2"></li>
            <li class="" data-target="#myCarousel" data-slide-to="3"></li>
            <li class="" data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('images/2-b.jpg');"></div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item active">
                <!-- Set the second background image using inline CSS below. -->
              <div class="fill" style="background-image:url('assets/slide_02.jpg');"></div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('images/slide_03.jpg');"></div>
                <div class="carousel-caption">
                </div>
            </div>
                        <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('images/slide_04.jpg');"></div>
                <div class="carousel-caption">
                </div>
            </div>
                        <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('images/6-b.jpg');"></div>
                <div class="carousel-caption">
                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
        </a>

    </header>
            <!-- <video autoplay  poster="images/video_banner.png" loop>
              <source src="video/videoplayback.mp4" type="video/mp4">
              </video>-->
                <div class="container ">          
                    <div class="row">
            
                        <div style="visibility: visible; animation-duration: 2s; animation-name: fadeInLeft;" class="col-xs-10 col-xs-offset-1 col-sm-5  wow fadeInLeft animated" data-wow-duration="2s" id="intro">
                            <h1><i class="fa fa-sun-o logo-circled"></i> <strong>Progton</strong> is here</h1>
                            <br class="hidden-xs">
                            <!-- TICKER START -->
                            <div class="ticker">
                                <h3 style="margin-top: -40px;"><strong>Software</strong> Development</h3>
                                <h3><strong>Mobile</strong> Technologies</h3>
                                <h3><strong>Technology</strong> Consulting</h3>
                               <h3><strong>Digital</strong> Marketing</h3>
                            </div>
                            <!-- TICKER END -->
                            <p style="font-size: 14px">We're here to build something cool that changes the world.</p>
                            <br class="hidden-xs">
                            <a href="#about" class="btn btn-transparent scroll"><strong>LEARN MORE</strong></a>
                        </div>
                    </div>
                </div>
            
            <!-- HOME END -->

            <!-- ABOUT START -->
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="fancy"><span>About Us</span></p>
                        </div>
                        <div style="visibility: visible; animation-delay: 600ms; animation-name: fadeInRight;" class="article col-xs-12 col-sm-4  wow fadeInRight animated" data-wow-delay="600ms">
                            <i class="ion-clock fa-2x orange"></i>
                            <h3>Who We are</h3>
                            <p>We are bunch of smart people who are 
passionate about solving critical problems through design and 
technology. we like to dream big, and launch successful products. in 
bringing ideas to life for our clients and partners.</p>
                        </div>
                        <div style="visibility: visible; animation-delay: 1s; animation-name: fadeInRight;" class="article col-xs-12 col-sm-4  wow fadeInRight animated" data-wow-delay="1s">
                            <i class="ion-compass fa-2x orange"></i>
                            <h3>Our Work</h3>
                            <p>We design &amp; build Web applications, 
Mobile apps using technologies like Ruby on Rails, Javascript, Node.js, 
Ember.js, Angular.js, Android, iOS &amp; with Great Technologies</p>
                        </div>
                        <div style="visibility: visible; animation-delay: 1400ms; animation-name: fadeInRight;" class="article col-xs-12 col-sm-4  wow fadeInRight animated" data-wow-delay="1400ms">
                            <i class="ion-pinpoint fa-2x orange"></i>
                            <h3>Our Mission</h3>
                            <p>Our mission is to add value for our 
customers by helping them achieve their desired level of quality and 
safety for their products, assets and processes.</p>
                        </div>
                    </div>
                    <div id="facts" class="carousel slide hidden-xs">
                        <!-- CAROUSEL ITEMS START -->
                        <div class="carousel-inner">
                            <div class="item"><h3><strong>Ruby On Rails</strong> Development</h3></div>
                            <div class="item"><h3><strong>Cloud Based </strong> Services</h3></div>
                            <div class="item"><h3><strong>Android </strong>Applications</h3></div>
                            <div class="item active left"><h3><strong>iOS </strong>Applications</h3></div>
                            <div class="item next left"><h3><strong>Node,Angular,Ember,Backbone </strong>js</h3></div>
                        </div>
                        <!-- CAROUSEL ITEMS END -->
                    </div>
                </div><br><br><br>
            </section>
            <!-- ABOUT END -->

            <!-- SERVICES START -->
            <section style="background-position: 50% 115px;" id="services">
                <div style="visibility: visible; animation-duration: 2s; animation-delay: 500ms; animation-name: bounceIn;" class="container  wow bounceIn  animated" data-wow-duration="2s" data-wow-delay="500ms">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <p class="fancy"><span>Services</span></p>
                        </div>
                        <div class="desc col-xs-12 col-sm-6 col-sm-offset-3">
                            <h2>At your Service</h2>
                            <p>We are here to build something so cool and extraordinary which can change the world</p>
                            <p></p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="article col-xs-12 col-sm-3">
                            <i class="ion-ios7-heart fa-2x orange"></i>
                            <h3>Development</h3>
                            <ul class="list-unstyled">
                                <li>Web Applications</li>
                                <li>Mobile Applications</li>
                                <li>Web Designing</li>
                                <li>Branding</li>
                            </ul>
                        </div>
                        <div class="article col-xs-12 col-sm-3 ">
                            <i class="ion-eye fa-2x orange"></i>
                            <h3>Outsourcing</h3>
                            <ul class="list-unstyled">
                                <li>Consulting</li>
                                <li>Resource Management</li>
                                <li>Digital Displays</li>
                                <li>Digital Presence Marketing</li>
                            </ul>
                        </div>
                        <div class="article col-xs-12 col-sm-3">
                            <i class="ion-search fa-2x orange"></i>
                            <h3>SEO</h3>
                            <ul class="list-unstyled">
                                <li>Meta Information</li>
                                <li>Ad Words Campaign</li>
                                <li>Google Optimization</li>
                                <li>Bing Optimization</li>
                            </ul>
                        </div>
                        <div class="article col-xs-12 col-sm-3">
                            <i class="ion-ios7-people fa-2x orange"></i>
                            <h3>Social</h3>
                            <ul class="list-unstyled">
                                <li>Facebook Apps and Pages</li>
                                <li>Twitter Setup</li>
                                <li>Social Strategy and Planning</li>
                                <li>Viral Marketing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section><br><br><br>
            <!-- SERVICE END -->

            <!-- WORK START -->
            <section id="work">
                <div class="container">
                    <div class="col-xs-12">
                            <p class="fancy"><span>Work</span></p>
                        </div>
                    <div class="row">
                        <div class="desc col-xs-12 col-sm-6 col-sm-offset-3">
                            <h2>Our Work, Our Pride.</h2>
                            <p>Below is a collection of things which we have build. Each one made our client happy and made us proud.</p>
                        </div>
                    </div>
                    <!-- WORK FILTERS START-->
                    <div class="row">
                        <ul class="list-inline" id="filters">
                            <li class="filter active" data-filter="all"><i class="ion-ios7-keypad"></i> Show All</li>
                            <li class="filter" data-filter="category_1"><i class="ion-ios7-heart"></i> Application</li>
                            <li class="filter" data-filter="category_2"><i class="ion-eye"></i> Design</li>
                            <li class="filter" data-filter="category_3"><i class="ion-search"></i> Mobile</li>
                            <li class="filter" data-filter="category_4"><i class="ion-ios7-people"></i> Social</li>
                        </ul>
                    </div>
                    <!-- WORK FILTERS END -->
                    <!-- WORK IMAGES START -->
                    <div class="row">
                        <ul id="gallery">
                            <!-- WORK IMAGE START: copy and paste this section to add images to the WORK section  -->
                            <!-- Collection Chaser-->
                            <li style="display: inline-block; opacity: 1; visibility: visible; animation-delay: 300ms; animation-name: bounceIn;" class="mix category_1  wow bounceIn mix_all animated" data-wow-delay="300ms">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <a href="http://www.progton.com/images/work/collection_work.png" data-gal="prettyPhoto" title="Online Store for Collectible Items">

  <%= image_tag("collection_work_tn") %>
   <!--<img src="collection_work_tn.jpg" alt="Collection Chaser"></a>-->
                                </div>
                            </li>
                            <!-- WORK IMAGE END -->
                            <!-- Shrinez -->
                            <li style="display: inline-block; opacity: 1; visibility: visible; animation-delay: 600ms; animation-name: bounceIn;" class="mix category_2  wow bounceIn mix_all animated" data-wow-delay="600ms">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <a href="http://www.progton.com/images/work/shreniz_work.png" data-gal="prettyPhoto" title="Online store for Ladies Bags"><img src="progton_files/shreniz_work_tn.jpg" alt="Online Bag Store"></a>
                                </div>
                            </li>
                            <!-- Oasis  School-->
                            <li style="display: inline-block;  opacity: 1;" class="mix category_1 mix_all">
                                <div style="visibility: visible; animation-delay: 900ms; animation-name: bounceIn;" class="col-xs-12 col-sm-6 col-md-3  wow bounceIn animated" data-wow-delay="900ms">
                                    <a href="http://www.progton.com/images/work/oasis_work.png" data-gal="prettyPhoto" title="Oasis School">
<%= image_tag("oasis_work_tn") %>
     <!--<img src="progton_files/oasis_work_tn.jpg" alt="Oasis International School"></a>-->
                                </div>
                            </li>
                            <!-- Infranet -->
                            <li style="display: inline-block; opacity: 1; visibility: visible; animation-delay: 1200ms; animation-name: bounceIn;" class="mix category_2  wow bounceIn mix_all animated" data-wow-delay="1200ms">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <a href="http://www.progton.com/images/work/infranet_work.png" data-gal="prettyPhoto" title="IT solution Website"><img src="progton_files/infranet_work_tn.jpg" alt="IT solution Website"></a>
                                </div>
                            </li>

                            <!--Aidhens
                            <li class="mix category_3">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <a href="images/work/aidhens_work.png" data-gal="prettyPhoto" title="Aidhens corner for all kid things"><img src="images/thumbnails/aidhens_work_tn.jpg" alt="aidhens corner" /></a>
                                </div>
                            </li>

                            <!-- Mobile apply
                            <li class="mix category_4">
                               <div class="col-xs-12 col-sm-6 col-md-3">
                                    <a href="images/work/mobile_apply_work.png" data-gal="prettyPhoto" title="One click Apply"><img src="images/thumbnails/mobile_apply_work_tn.jpg" alt="mobile_apply for careerbuilder" /></a>
                                </div>
                            </li>-->
                        </ul>
                    </div>
                    <!-- WORK IMAGES END -->
                </div>
            </section><br><br><br>
            <!-- WORK END -->

            <!-- CLIENTS START -->
            <section style="background-position: 50% 58px;" id="clients">
                <div style="visibility: visible; animation-delay: 200ms; animation-name: zoomIn;" class="container  wow zoomIn animated" data-wow-delay="200ms" data-wow-duration:"2s"="">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="fancy"><span>Clients</span></p>
                        </div>
                        <div class="desc col-xs-12 col-sm-6 col-sm-offset-3 intro">
                            <h2>The Best in the World.</h2>
                            <p>We have been fortunate to have worked with the best, and we delivered the best.</p>
                        </div>
                    </div>
                    <!-- ROW WITH 2 CLIENTS START -->
                    <div class="row statement">
                        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1">
                            <h4><i class="glyphicon glyphicon-barcode"></i> <strong>CollectionChaser</strong></h4>
                            <p>"Great Work Delivered Perfectly! Definitely Working Again."</p>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
                            <h4><i class="glyphicon glyphicon-header"></i> <strong>Shrinez</strong></h4>
                            <p>"Awesome people to work with, never thought resource management would be such ease"</p>
                        </div>
                    </div>
                    <!-- ROW WITH 2 CLIENTS END -->
                    <!-- ROW WITH 1 CLIENT START -->
                    <div class="row statement">
                        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
                            <h4><i class="glyphicon glyphicon-film"></i> <strong>InfranetSol</strong></h4>
                            <p>"Engaging, great quality delivered"</p>
                        </div>
                    </div>
                    <!-- ROW WITH 1 CLIENT END -->
                </div>
            </section><br><br><br>
            <!-- CLIENTS END -->

            <!-- TEAM START -->
            <!--
            <section id="team">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="fancy"><span>Team</span></p>
                        </div>
                        <div class="desc col-xs-12 col-sm-6 col-sm-offset-3 intro">
                            <h2>The Fantastic Four.</h2>
                            <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. And these 4 people have been fighting that tyranny.</p>
                        </div>
                    </div>
                    <!-- TEAM ROW 1 START --
                    <div class="row">
                        <!-- TEAM MEMBER START: copy paste the section below to add more team membes --
                        <div class="person col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0" style="background-image: url('images/team-1.jpg');">
                            <div class="info">
                                <h4>Mansoor Elahi</h4>
                                <p>Mansoor is the founder of our company. He is the force behind all the creativity that happens here.</p>
                                <ul class="list-inline">
                                    <li><a><i class="ion-social-twitter"></i></a></li>
                                    <li><a><i class="ion-social-facebook"></i></a></li>
                                    <li><a><i class="ion-social-linkedin"></i></a></li>
                                    <li><a><i class="ion-social-googleplus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- TEAM MEMBER END --
                        <div class="person col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0" style="background-image: url('images/team-4.jpg');">
                            <div class="info">
                                <h4>Syed Nasiruddin</h4>
                                <p>Syed is the founder of our comapny, He is the driving force.</p>
                                <ul class="list-inline">
                                    <li><a><i class="ion-social-facebook"></i></a></li>
                                    <li><a><i class="ion-social-linkedin"></i></a></li>
                                    <li><a><i class="ion-social-googleplus"></i></a></li>
                                    <li><a><i class="ion-social-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="person col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0" style="background-image: url('images/team-2.jpg');">
                            <div class="info">
                                <h4>Kishore Mohan</h4>
                                <p>Kishore is the best developer out there. His skills are unmatched and the stuff he does is simply amazing.</p>
                                <ul class="list-inline">
                                    <li><a><i class="ion-social-facebook"></i></a></li>
                                    <li><a><i class="ion-social-linkedin"></i></a></li>
                                    <li><a><i class="ion-social-googleplus"></i></a></li>
                                    <li><a><i class="ion-social-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- TEAM ROW 1 END -->
                    <!-- TEAM ROW 2 START --
                    <div class="row">
                        <div class="person col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0" style="background-image: url('images/team-3.jpg');">
                            <div class="info">
                                <h4>Syed Nooruddin</h4>
                                <p>Nooru is the inhouse gourmet chef. His skills are unmatched and what he does is simply amazing.</p>
                                <ul class="list-inline">
                                    <li><a><i class="ion-social-facebook"></i></a></li>
                                    <li><a><i class="ion-social-linkedin"></i></a></li>
                                    <li><a><i class="ion-social-googleplus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="person col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                            <div class="info">
                                <h4>We are hiring!</h4>
                                <p>Join us and explore the world! Drop an email at <a>joinus@sunshine.theme</a></p>
                                <ul class="list-inline">
                                    <li><i class="ion-ios7-plus-empty text-muted" style="font-size: 200px"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- TEAM ROW 2 END --
                </div>
            </section>
            <!-- TEAM END -->

            <!-- CONTACT START -->
            <section id="contact">
                <div class="container" id="contact-details-wrapper">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="fancy"><span>Contact</span></p>
                        </div>
                    </div>
                    <div id="contact-details">
                        <div class="row">
                            <div class="desc col-xs-12 col-sm-6 col-sm-offset-3 intro">
                                <h2>Contact<i class="ion-ios7-heart-outline"></i> to help!</h2>
                            </div>
                        </div>
                        <!-- CONTACT HAS 2 OPTIONS: Form based (option 1) and Address/Phone/Social (option 2) -->
                        <div class="row">
                            <!-- CONTACT OPTION 1 START -->
                            <div style="visibility: visible; animation-duration: 1s; animation-delay: 600ms; animation-name: fadeInLeft;" class="option col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1  wow fadeInLeft animated" data-wow-delay="600ms" data-wow-duration="1s">
                                <!-- CONTACT FORM START -->
                                <form role="form" id="contact-form">
                                    <div class="form-group">
                                        <input class="form-control" name="name" id="name" placeholder="Name" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="email" id="email" placeholder="Email" type="email">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="8" name="message" id="message" placeholder="Message"></textarea>
                                    </div>
                                    <!--<div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="1" name="newsletter" id="newsletter" checked style="float: none;">
                                                Also sign me up for the awesome Sunshine newsletter!
                                            </label>
                                        </div>
                                    </div>-->
                                    <div class="form-group">
                                        <a class="btn btn-orange btn-half-block" id="submit-contact-form">Send</a>
                                    </div>
                                </form>           <!-- CONTACT FORM END -->
                                <div class="alert alert-success alert-small" id="contact-success" style="display: none;"><i class="ion-checkmark-round"></i> <span>Message sent.</span></div>
                                <div class="alert alert-danger alert-small" id="contact-error" style="display: none;"><i class="ion-close-round"></i> <span>Something is not working. Please try again.</span></div>
                            </div>
                            <!-- CONTACT OPTION 1 END -->
                            <!-- CONTACT OPTION 2 START -->
                            <div style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: bounceInRight;" class="option col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1  wow bounceInRight animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                                <div class="media">
                                    <i class="pull-left ion-ios7-location-outline fa-2x text-muted"></i>
                                    <div class="media-body">
                                        <address>
                                            <strong>Progton Technologies</strong><br>
                                                    Zameer Complex SG Palya Main Rd,<br> 
                                                    Bhavani Nagar, Sadduguntepalya,<br>
                                                    Bengaluru, Karnataka 560029<br>
                                        </address>
                                    </div>
                                </div>
                                <div class="media">
                                    <i class="pull-left ion-ios7-telephone-outline fa-2x text-muted"></i>
                                    <div class="media-body">
                                        (91) 080-46306041<br>
                                        (91) 9035-127-382<br>
                                    </div>
                                </div>
                                <div class="media">
                                    <i class="pull-left ion-ios7-email-outline fa-2x text-muted"></i>
                                    <div class="media-body">
                                        <a>info@progton.com</a>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-body">
                                        <hr>
                                        <ul class="list-inline">
                                            <li><a><i class="ion-social-twitter fa-2x"></i></a></li>
                                            <li><a><i class="ion-social-facebook fa-2x"></i></a></li>
                                            <li><a><i class="ion-social-linkedin fa-2x"></i></a></li>
                                            <li><a><i class="ion-social-googleplus fa-2x"></i></a></li>
                                            <li><a><i class="ion-social-dribbble fa-2x"></i></a></li>
                                            <li><a><i class="ion-social-github fa-2x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- CONTACT OPTION 2 END -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- CONTACT END -->

            <!-- FOOTER START -->
            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-muted">© 2015 Progton Technologies Pvt. Ltd. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- FOOTER END -->
        </div>
        <!-- PAGE END -->

        <!-- JAVASCRIPT START -->
        <!-- jQuery script -->
        <!-- Bootstrap script -->
        <!-- Pretty photo script -->
        <!-- Parallax script -->
        <!-- Mixitup Filters script -->

        <!-- Sunshine specific Scripts -->
        <script type="text/javascript">
          new WOW().init();
        </script>

        <!-- JAVASCRIPT END -->
    
       <script type="text/javascript">
          $('.carousel').carousel({
            interval: 5000 //changes the speed
          })
        </script>

</body></html>