


<html>
<body background="Independence_Day_Facebook_Cover_Photo.jpg">
<div class = "text-center">
<h1>Welcome to my Home Page</h1>
<p>Hello, have a nice day</p>
<p> Developer at Progton</p>
<p> Bangalore </p>
<p> India </p>
</div>

<p><a href="http://http://www.hdnicewallpapers.com/Facebook-Cover"></a></p>
</body>
</html> 